#################################################
# Spring Boot
#################################################

api/target/
api/.mvn/
api/.gradle/
api/*.log

#################################################
# IDEs
#################################################

.idea/
.vscode/
*.iml

#################################################
# Sistema
#################################################

.DS_Store
Thumbs.db

#################################################
# Variáveis de ambiente
#################################################

.env
.env.*

#################################################
# Docker
#################################################

oracle-data/

#################################################
# Logs
#################################################

logs/
*.log

#################################################
# Java
#################################################

*.class